
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$resXXXL: 1650px;
$resXXL: 1250px;
$resXL: 1150px;
$resX: 1050px;
$resL: 991px;
$resM: 767px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$assets-root: '/assets';
$images-root: '/images/';
$fonts-root: '/fonts/';

$resSidebarMobile: $resM;
$resAuthCollapsed: $resL;